@model Tenant.Business.Models.TenantViewModel

<h2>
    New Tenant
</h2>

@using (Html.BeginForm("Create", "Tenant", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Form.cshtml", Model);
}

@section Scripts{
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: "true",
        });
        $('.datepicker').datepicker('setDate', today);
    </script>
}

